<%= form_with(model: agent, local: true) do |form| %>
  <% if agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :agent_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :agent_last_name %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :agent_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :agent_address2 %>
  </div>

  <div class="field">
    <%= form.label :address3 %>
    <%= form.text_field :address3, id: :agent_address3 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :agent_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :agent_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :agent_zip %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :agent_active %>
  </div>

  <div class="field">
    <%= form.label :Agency_id %>
    <%= form.text_field :Agency_id, id: :agent_Agency_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
