<p id="notice"><%= notice %></p>

<h1>Agents</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Address3</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Active</th>
      <th>Agency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.first_name %></td>
        <td><%= agent.last_name %></td>
        <td><%= agent.address1 %></td>
        <td><%= agent.address2 %></td>
        <td><%= agent.address3 %></td>
        <td><%= agent.city %></td>
        <td><%= agent.state %></td>
        <td><%= agent.zip %></td>
        <td><%= agent.active %></td>
        <td><%= agent.Agency %></td>
        <td><%= link_to 'Show', agent %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path %>
